html,
body {
    background-color: transparent;
    color: #000;
}

/* body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
 line-height: .96rem;
    color: #333;
    background-color: #fff;
    margin: 0 2%;
} */

.header {
    height: 65px;
    background-color: #ccc;
}

.container-fluid {
    position: relative;
}

.left-side {
    background-color: #ccc;
    height: 100%;
    float: left;
    width: 25%;
}

.right-side {
    background-color: #ccc;
    height: 100%;
    float: left;
    width: 19%;
    position: relative;
    z-index: 1024;
    padding-left: 1%;
    padding-bottom: 2%;
}
.worktai {
    float: left;
    width: 55%;
}
.wrapper {
    padding: 50px;
    background-color: #9d155a;
}

.mouse-click {
    border: 3px dotted #ccc;
}

.pop.show , .pop .show{
    display: block;
}

.hidden{
    display: none;
}

.uploaderIconContainer img ,.uploader-list .info{
    display: none;
}
