<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>唯品会</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="diyUpload/css/webuploader.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="sys/hookcut.css" >
</head>
<body ng-controller="ctrl1">
    <div class="header">
        
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-side col-md-2" style="text-align:center;">

            <div id="result">
                <div class="result-mark"><img id="result-mark-img"></div>
                <div id="result-report"></div>
                <a id="result-download"></a>
                <div class="cl"></div>
                <a id="result-url" target="_blank">浏览器打开链接</a> 
            </div>
            <div class="but-create-div">
                <button id="create" type="button">生 成</button>
            </div>


            </div>
            <div class="worktai col-md-7">
                <div class="wrapper">
                    <!-- banner位 -->
                    <div class="banner">
                        <img src="resources/images/img_01.jpg" alt="" />
                        <img src="resources/images/img_02.jpg" alt="" />
                    </div>
                    <!-- 优惠券。如果已经领取，变类“on”为“off” -->
                    <div class="coupon on">
                        <img src="resources/images/img_03.jpg" alt="">
                    </div>
                    <!-- 领取按钮 -->
                    <div class="btn-cnt">
                        <img src="resources/images/img_04.jpg" alt="">
                        <!-- 若不可点,加类"btn-disabled" -->
                        <a class="btn" href="javascript:void(0);">注册领取</a>
                    </div>
                    <img src="resources/images/img_05.jpg" alt=""/>
                    <!-- 活动规则 -->
                    <div class="rule on">
                        <div class="title">活动规则</div>
                        <ul class="cnt">
                            <li>1、活动期间，成功注册的用户均可领取唯品会优惠券，每个用户仅限领用一次；</li>
                            <li>2、20元优惠券满200元可用，仅限手机使用，有效期为2015年3月17日―2015年4月16日；</li>
                            <li>3、此活动暂不支持特卖会品牌直发专场、唯品团；</li>
                            <li>4、如商品发货后，会员取消订单，拒收，退货，需要扣除10元运费再退回对应货款；</li>
                            <li>5、若因系统故障或其他不可抗力，造成活动未能按时进行，唯品会有权调整活动时间或取消活动；</li>
                            <li>6、任何经唯品会认定存在作弊、批量注册等不正当行为的用户，唯品会有权取消该用户抽奖及参与本活动的资格；</li>
                            <li>7、唯品会在法律法规允许范围可对本活动进行解释。</li>
                        </ul>
                    </div>
                    <img class="block" src="resources/images/img_07.jpg" alt="" />
                </div>
                <!-- 弹窗 -->
                <div class="pop">
                    <div class="pop-con pop-con-1">
                        <!-- 头部 -->
                        <div class="title">
                            <a href="javascript:;" class="close"></a>
                        </div>
                        <!-- 内容区 -->
                        <div class="cnt">
                            <p>
                                <img class="success-icon" src="resources/images/ico.png" alt="" />
                                <em class="success-text">领券成功!</em>
                            </p>
                            <p>
                                <span class="nocss">恭喜您已获得</span>
                                <em class="coupon-num">60元优惠券</em>
                            </p>
                        </div>
                        <!-- 脚部 -->
                        <div class="footer">
                            <!-- 不可点击加类“disabled” -->
                            <a href="javascript:;" class="btn">去首页购物</a>
                            <a href="javascript:;" class="btn">进入个人中心查看</a>
                        </div>
                    </div>
                    <div class="pop-con pop-con-2">
                        <!-- 头部 -->
                        <div class="title">
                            <a href="javascript:;" class="close"></a>
                        </div>
                        <!-- 内容区 -->
                        <div class="cnt">
                            <p>
                                <em class="success-text">人潮涌涌,稍等片刻</em>
                            </p>
                            <p>优惠券将稍后返至您账户!</p>
                        </div>
                        <!-- 脚部 -->
                        <div class="footer">
                            <!-- 不可点击加类“disabled” -->
                            <a href="javascript:;" class="btn">去首页购物</a>
                        </div>
                    </div>
                    <div class="pop-con pop-con-3">
                        <!-- 头部 -->
                        <div class="title">
                            <a href="javascript:;" class="close"></a>
                        </div>
                        <!-- 内容区 -->
                        <div class="cnt">
                            <p>您已领过券！</p>
                            <p>不要太贪心哦~！</p>
                        </div>
                        <!-- 脚部 -->
                        <div class="footer">
                            <!-- 不可点击加类“disabled” -->
                            <a href="javascript:;" class="btn">去首页购物</a>
                        </div>
                    </div>
                    <div class="pop-con pop-con-4">
                        <!-- 头部 -->
                        <div class="title">
                            <a href="javascript:;" class="close"></a>
                        </div>
                        <!-- 内容区 -->
                        <div class="cnt">
                            <p>
                                <em class="success-text">很遗憾</em>
                            </p>
                            <p>此优惠券仅限移动端</p>
                            <p>首次登陆用户领取!</p>
                        </div>
                        <!-- 脚部 -->
                        <div class="footer">
                            <!-- 不可点击加类“disabled” -->
                            <a href="javascript:;" class="btn">去首页购物</a>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="right-side col-md-3">

                <form class="guize tpl hidden">
                  <div class="form-group">
                    <label for="title-color" class="col-sm-2 control-label">活动规则背景颜色</label>
                    <input type="color" class="form-control" id="title-color" ng-model="titleColor">
                  </div>
                  <div class="form-group">
                    <label for="act-guize-color" class="col-sm-2 control-label">活动规则字体颜色</label>
                    <input type="color" class="form-control" id="act-guize-color" ng-model="actGuizeColor">
                  </div>
                  <div class="form-group">
                    <label for="act-font-color" class="col-sm-2 control-label">规则规则条款字体颜色</label>
                    <input type="color" class="form-control" id="act-font-color" ng-model="actFontColor">
                  </div>
                  <div class="form-group">
                    <label for="guize-content" class="col-sm-2 control-label">内容</label>
                    <textarea class="form-control" id="guize-content" rows="25"  style="width:80%;" ng-model="guizeContent"></textarea>
                  </div>
                </form>

                <div class="pop-window tpl hidden">
                    
                    <div class="form-group">
                        <label for="popup-btn-color" class="col-sm-2 control-label">背景颜色</label>
                        <input type="color" class="form-control" id="popup-btn-color" ng-model="popupBtnColor">
                    </div>
                    <button class="but1" value="pop-con-1">pop-con-1</button>
                    <div class="pop1-modify-input">
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-1 .success-text">
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-1 p:eq(1) .nocss">                        
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-1 .coupon-num" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-1 .footer a:first" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-1 .footer a:last" >
                    </div>                    
                    <button class="but1" value="pop-con-2">pop-con-2</button>
                    <div class="pop2-modify-input">
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-2 .success-text" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-2 .cnt p:last" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-2 .footer a:first">
                    </div>
                    <button class="but1" value="pop-con-3">pop-con-3</button>
                    <div class="pop3-modify-input">                        
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-3 .cnt p:first" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-3 .cnt p:last" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-3 .footer a:first" >
                    </div>
                    <button class="but1" value="pop-con-4">pop-con-4</button>
                    <div class="pop4-modify-input">
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-4 .success-text" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-4 .cnt p:eq(1)" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-4 .cnt p:last" >
                        <input type="text" class="form-control poptxt" data-elemclass=".pop-con-4 .footer a:first" >
                    </div>
                </div>

                <div class="uploader tpl hidden">                    
                </div>

                <div class="defaultSetting tpl">
                    <div class="form-group">
                        <label for="background-color" class="col-sm-2 control-label">背景颜色</label>
                        <input type="color" class="form-control" ng-model="backgroundColor" >
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规则箭头</label><br/>
                        <img src="resources/images/arrow.png" width="32" height="32" data-imgtype="arrow" >
                    </div>
                    <div class="form-group">
                        <label for="background-color" class="col-sm-2 control-label">弹出窗口关闭按钮</label><br/>
                        <img src="resources/images/close.png" width="32" height="32" data-imgtype="close">
                    </div>
                    <div class="form-group">
                        <label for="background-color" class="col-sm-2 control-label">已领取图标</label><br/>
                        <img src="resources/images/coupon_off.png" width="250" height="100" data-imgtype="coupon_off">
                    </div>
                    <div class="form-group">
                        <label for="background-color" class="col-sm-2 control-label">未领取图标</label><br/>
                        <img src="resources/images/coupon_on.png" width="250" height="100" data-imgtype="coupon_on">
                    </div>
                    <div class="uploaderIconContainer">
                    </div>                                                                                
                </div>

            </div>
        </div>
    </div>

    <script id="img-reset-tpl" type="text/template">
        <div id="fileList" class="uploader-list"></div>
        <div id="filePicker">选择图片</div>
    </script>
    <script type="text/javascript" src="javascripts/jquery-1.11.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="diyUpload/js/webuploader.html5only.min.js"></script>
    <script type="text/javascript" src="javascripts/angular.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>
